<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>User details</p>
    <h1><%= user.name %> </h1>
    <h1><%= user.email %> </h1>
    <h1><%= user.age %> </h1>
    <h1><%= user.bio %> </h1>

    <a href="/user">
    <button>
        Go back
    </button></a>

    <a href="/user/<%= user._id %>/edit ">
        <button>Edit</button>
    </a>

    <a href="/user/<%= user._id %>/delete">
        <button>delete</button>
    </a>
</body>
</html>